/*
---------------------------------------------------------------------------------
	STRIPPED DOWN RESUME TEMPLATE
    html resume

    v0.9: 5/28/09

    design and code by: thingsthatarebrown.com 
                        (matt brown)
---------------------------------------------------------------------------------
*/
@media screen{
.msg { padding: 10px; background: #222; position: relative; }
.msg h1 { color: #fff;  }
.msg a { margin-left: 20px; background: #408814; color: white; padding: 4px 8px; text-decoration: none; }
.msg a:hover { background: #266400; }

/* //-- yui-grids style overrides -- */
body { font-family: 'Ubuntu', Georgia; color: #222; }
#inner { padding: 10px 80px; margin: 0; background: #fff; border: solid #666; border-width: 8px 0 2px 0; }
.yui-gf { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; }

/* //-- header, body, footer -- */
#hd { margin: 2.5em 0 3em 0; padding-bottom: 1.5em; border-bottom: 1px solid #ccc }
#hd h2 { text-transform: lowercase; letter-spacing: 2px; }
#bd, #ft { margin-bottom: 2em; }

/* //-- footer -- */
#ft { padding: 1em 0 5em 0; font-size: 92%; border-top: 1px solid #ccc; text-align: center; }
#ft p { margin-bottom: 0; text-align: center;   }

/* //-- core typography and style -- */
#hd h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 152% }
h3, h4 { font-size: 122%; }
h5 {font-size: 118%}
h1, h2, h3, h4, h5 { color: #333; }
p { font-size: 115%; line-height: 20px; padding-right: 3em; }
a { color: #990003 }
a:hover { text-decoration: none; }
strong { font-weight: bold; }
p.enlarge { font-size: 115%; padding-right: 6.5em; line-height: 24px; }
p.enlarge span { color: #000 }
.contact-info { margin-top: 7px; }
.first h2 { font-style: italic; }
ul.talent li { line-height: 24px; border-bottom: 1px dashed #aaa; }
ul.talent li.last, .last { border-bottom: 0;}
.talent { width: 32%; float: left }
.talent h2 { margin-bottom: 6px; }

/* //-- section styles -- */

a#pdf { display: block; float: left; background: #666; color: white; padding: 6px 50px 6px 12px; margin-bottom: 6px; text-decoration: none;  }
a#pdf:hover { background: #222; }

.job { position: relative; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #ccc; }
.job h4 { position: absolute; top: 0.35em; right: 0 }
.job h5 {margin: 0.75em 0 0 0;}
.job span.def_title {font-weight: bold;}
.job span.def_def {font-style: italic;}
.job p { margin: 0.1em 0 0 0; }
.job.last a {text-decoration: none;}
.job.last a:hover {text-decoration: underline;}

.education {position: relative; margin-bottom: 20px; padding-bottom: 5px; border-bottom: 1px solid #ccc;}
.education h4 { position: absolute; top: 0.35em; right: 0 }
.education p { margin: 0.75em 0 0 0;}

.last { border: none; }

#srt-ttab { margin-bottom: 100px; text-align: center;  }
#srt-ttab img.last { margin-top: 20px }

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u{width:80.2%;}
.yui-gf div.first{width:12.3%;}
div.first h2{color:#666;}
}

@media print {

h2 {font-weight: bold}

.msg { padding: 10px; background: #222; position: relative; }
.msg h1 { color: #fff;  }
.msg a { margin-left: 20px; background: #408814; color: white; padding: 4px 8px; text-decoration: none; }
.msg a:hover { background: #266400; }

/* //-- yui-grids style overrides -- */
body { font-family: 'Ubuntu', Georgia; color: #222; }
#inner { padding: 10px 30px 0 30px; margin: 0; background: #fff; border: solid #666; border-width: 8px 0 0 0; }
.yui-gf { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ccc; }

/* //-- header, body, footer -- */
#hd { margin: 2.5em 0 1em 0; padding-bottom: 1.5em; border-bottom: 1px solid #ccc }
#hd h2 { text-transform: lowercase; letter-spacing: 2px; }


/* //-- core typography and style -- */
#hd h1 { font-size: 30px; text-transform: uppercase; letter-spacing: 3px; }
#hd h2 { font-size: 110% }
/*h3, h4 { font-size: 10%; }*/
#hd .contact-info {display: none;}
#hd .yui-gc div.first {width:100%;}
h1, h2, h3, h4 { color: #333; }
p { font-size: 100%; line-height: 18px; padding-right: 0em; }
a { color: #990003 }
a:hover { text-decoration: none; }
strong { font-weight: bold; }
ul.talent li { line-height: 24px; border-bottom: 1px solid #ccc; }
p.enlarge { font-size: 100%; padding-right: 2.5em; line-height: 24px; }
p.enlarge span { color: #000 }
.contact-info { margin-top: 7px; }
.first h2 { font-style: italic; }
.last { border-bottom: 0 }


/* //-- section styles -- */

a#pdf { display: block; float: left; background: #666; color: white; padding: 6px 50px 6px 12px; margin-bottom: 6px; text-decoration: none;  }
a#pdf:hover { background: #222; }


.last { border: none; }
.talent { width: 33%; float: left }
.talent h2 { margin-bottom: 10px; min-height: 24px;}
div.talent {margin: 0; padding: 0;}
div.talent p {padding-right:10px;}
#srt-ttab { margin-bottom: 100px; text-align: center;  }
#srt-ttab img.last { margin-top: 20px }

.job { position: relative; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #ccc; }
.job h4 { position: absolute; top: 0.35em; right: 0 }
.job p { margin: 0.75em 0 5px 0; }

.education {position: relative; margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid #ccc;}
.education h4 { position: absolute; top: 0.35em; right: 0 }
.education p { margin: 0.75em 0 5px 0;}
.education h2 {max-width: 90%}
/* --// override to force 1/8th width grids -- */
.yui-gf div.yui-u{width:85%;}
.yui-gf div.first{width:15%;}
div.first h2{color:#666;}

/* //-- footer -- */
#ft { padding: 5px 0 0px 0; font-size: 92%; border-top: 1px solid #ccc; text-align: center; }
#ft p { margin-bottom: 0; text-align: center;   }
}